body {
  font-family: "IBM Plex Sans", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.mobile-nav {
  display: none;
}

.menu-close {
  display: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 140px;
}

.logo {
  margin-bottom: 35px;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  width: 40px;
  height: 18px;
}

.menu-button span {
  background-color: #000;
  width: 100%;
  height: 2px;
}

/* .feedback-item.feedback-item-hide {
    display: none;
}*/

.menu-list {
  display: flex;
  align-items: center;
  gap: 0 65px;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.user-action-item-search {
  margin-left: 80px;
}

.menu-item a {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: #151618;

  transition: 0.2s;
}

.menu-item a:hover {
  text-decoration: underline;
  opacity: 0.7;
  font-size: 20px;
}

.first {
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.main-content {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.top-title {
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;

  color: #ffffff;

  margin-bottom: 20px;
  max-width: 780px;
}

.top-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;

  margin-bottom: 48px;
  max-width: 560px;
}

.blockqoute-text {
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #151618;

  margin: 150px auto;
  max-width: 704px;
}

.assortiment {
  margin-bottom: 150px;
}

.assortiment-title {
  margin-bottom: 60px;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;

  color: #151618;
}

.assortiment-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 40px;
}

.assortiment-img {
  max-width: 208px;
  max-height: 208px;
  width: 100%;

  padding-bottom: 10px;
}

.assortiment-item-title {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.feedback {
  margin-bottom: 150px;

  background: #f7f2ea;
}

.feedback-title {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;

  color: #151618;
}

.feedback-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding-bottom: 60px;
    gap: 0 26px;
}

.feedback-text {
    margin-bottom: 10px;
}

.feedback-item:nth-child(1) .feedback-text {
width: 280px;
height: 132px;

font-style: italic;
font-weight: 300;
font-size: 16px;
line-height: 22px;

color: #151618;
}

.feedback-item:nth-child(2) .feedback-text {
width: 280px;
height: 66px;

font-style: italic;
font-weight: 300;
font-size: 16px;
line-height: 22px;

color: #151618;
}

.feedback-item:nth-child(3) .feedback-text {
width: 280px;
height: 88px;

font-style: italic;
font-weight: 300;
font-size: 16px;
line-height: 22px;

color: #151618;
}

.feedback-item:nth-child(4) .feedback-text {
width: 280px;
height: 110px;

font-style: italic;
font-weight: 300;
font-size: 16px;
line-height: 22px;

color: #151618;
}

.feedback-author {
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;

color: #151618;
}

@media (max-width: 1000px) {
  .user-action-item-search {
    margin-left: 30px;
  }

  .menu {
    margin-right: auto;
  }

  .menu-list {
    margin-left: 60px;
  }

  .logo {
    margin-bottom: 0;
  }

  .header-content {
    min-height: auto;
  }

  .blockqoute-text {
    margin-top: 120px;
    margin-bottom: 150px;
  }

  .assortiment {
    margin-bottom: 120px;
  }

  .assortiment-content {
    gap: 0;
  }

  .feedback {
    margin-bottom: 120px;
  }

  .feedback-item:last-child {
    display: none;
  }
}

@media (max-width: 860px) {
  .menu-list {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 460px;
    margin: 0 auto;
    background-color: white;
    display: block;
    text-align: center;
    padding-top: 60px;
    transition: transform 0.7s ease;
  }

  .menu-list.menu-list-open {
    transform: translateY(-0%);
  }

  .menu-item {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
  }

  .menu-item:hover {
    font-size: 26px;
    text-decoration: underline;
  }

  .menu-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .mobile-menu {
    margin-top: 60px;
    padding-top: 60px;
    margin: 0 30px;
    border-top: 2px solid #f7f2ea;
  }

  .mobile-actions {
    background-color: #f7f2ea;
    height: 60px;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-button {
    display: flex;
  }

  .mobile-menu-item {
    margin-bottom: 35px;
  }

  .mobile-nav,
  .menu-close {
    display: block;
  }

  .menu {
    order: -1;
    margin-right: 0;
  }

  .logo {
    margin-left: auto;
    margin-right: 154px;
  }
}

@media (max-width: 768px) {
  .header-content {
    padding-left: 64px;
    padding-right: 64px;
  }

  .blockqoute-text {
    max-width: 640px;
  }

  .assortiment {
    margin-bottom: 120px;
  }

  .assortiment-content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .feedback-item:nth-child(1) {
    margin-bottom: 10px;
  }

  .feedback-item:last-child {
    display: block;
  }

  .feedback-content {
    flex-wrap: wrap;
    gap: 30px 76px;
  }
}

@media (max-width: 680px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header-content {
    padding-left: 0;
    padding-right: 0;
  }

  .top-title {
    font-size: 40px;
  }

  .blockqoute-text {
    font-size: 16px;
    max-width: 376px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 480px) {
  .logo {
    margin-right: 80px;
  }

  .logo img {
    width: 40px;
  }

  .menu-list {
    width: 360px;
  }

  .assortiment {
    margin-bottom: 60px;
  }

  .feedback-title {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .feedback-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 20px;

    padding-bottom: 50px;
  }

  .feedback-item {
    flex-basis: 220px;
  }
}

@media (max-width: 360px) {
  .logo {
    margin-right: 50px;
  }

  .user-action-item-search {
    margin-left: 0;
  }

  .header-content {
    padding: 10px 0;
  }

  .top-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .top-text {
    font-size: 13px;
    margin-bottom: 30px;
  }

  .main-content {
    min-height: 367px;
  }

  .blockqoute-text {
    max-width: 340px;
    margin-top: 70px;
    margin-bottom: 80px;
  }

  .assortiment {
    margin-bottom: 80px;
  }

  .assortiment-img {
    max-width: 170px;
  }

  .feedback-content {
    align-items:center;
    grid-template-columns: 1fr;
  }

  .feedback-item:nth-child(3) {
    display: none;
  }

  .feedback-item:nth-child(4) {
    display: none;
  }
}